<h2><i class="icon-file-alt"></i> <%= @page.title %></h2>
<hr/>


<%= simple_form_for [:admin, :cms, @page] do |f| %>
	
	
	<%= f.input :title, input_html: { class: 'span6' } %>
	<%= f.input :slug, input_html: { class: 'span6' } %>
	<%= f.input :published %>
	<%= f.input :header_content, input_html: { class: 'span10', rows: 4 }  %>
	<%= f.input :body, input_html: { class: 'span10', rows: 20 }  %>
    <%= button_tag "Save changes", :class => "btn btn-primary", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Please wait ..." } %>

<% end %>


<%= content_for :title do %>
	Pages: <%= @page.title %>
<% end %>



<% content_for :breadcrumbs do %>
	<li><a href="#">Web Content</a></li>
	<li><%= link_to "Pages", admin_cms_pages_path %></li>
	<li class="active"><%= @page.title %></li>
<% end %>
