<%= link_to new_admin_cms_page_path, class: 'btn btn-sm btn-default pull-right' do %>
  <i class="fa fa-plus"></i> New page
<% end %>

<h2><i class="far fa-file-code"></i>&nbsp; <%= current_domain %> Pages</h2>

<table class="table table-striped table-condensed">
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Slug</th>
    <th>Last update</th>
    <th>Status</th>
    <th>&nbsp;</th>
  </tr>
  <% @pages.each do |page| %>
    <tr>
      <td><%= page.id %></td>
      <td><%= page.title %></td>
      <td><%= page.slug %></td>
      <td><%= systime page.updated_at %></td>
      <td>
        <% if page.published %>
          <span class="label label-success">published</span>
        <% else %>
          <span class="label label-warning">pending</span>
        <% end %>
      </td>
      <td class="ralign">
        <%= link_to "view", "/pages/#{page.slug}", target: '_blank' %> &nbsp;
        <%= link_to "edit", edit_admin_cms_page_path(page) %> &nbsp;
        <%= link_to "delete",
                    {action: "destroy", id: page.id},
                    method: :delete,
                    data: {confirm: "Are you sure?"} %>
      </td>
    </tr>
  <% end %>
</table>

<%= render 'admin/shared/table_summary', data: @pages %>


<% content_for :title do %>
  Pages
<% end %>


<% content_for :breadcrumbs do %>
  <li><a href="#">Web Content</a></li>
  <li class="active">Pages</li>
<% end %>
