<h2><%= @region.name %></h2>
<hr/>


<%= simple_form_for [:admin, :cms, @region], html: { class: 'form-inline' } do |f| %>
	
	<%= render 'admin/shared/error_messages', object: f.object %>
	
	<%= f.input :name, input_html: { class: 'span6' } %>
	<%= f.input :slug %>
	<%= f.input :enabled %>
	<%= f.input :default %>
	<%= f.input :hidden %>
	<%= f.input :description, input_html: { class: 'span10', rows: 4 }  %>
	
	<div class="form-actions">
		<%= f.button :submit %>
	</div>

<% end %>


<%= content_for :title do %>
	Regions: <%= @region.name %>
<% end %>


<% content_for :breadcrumbs do %>
	<li><a href="#">Web Content</a></li>
	<li><%= link_to "Regions", admin_cms_regions_path %></li>
	<li class="active"><%= @region.name %></li>
<% end %>
