<h2><i class="fa fa-picture-o"></i>&nbsp; <%= @photo_album.title %></h2>
<hr/>

<%= simple_form_for [:admin, :cms, @photo_album] do |f| %>

  <%= render 'admin/shared/error_messages', object: f.object %>

  <%= f.input :title %>
  <%= f.input :slug %>
  <%= f.association :user %>
  <%= f.input :public %>
  <%= f.input :allow_upload %>
  <%= f.input :voting_enabled %>
  <%= f.input :description, input_html: { rows: 5 } %>
  
  <%= button_tag "Save changes", :class => "btn btn-primary", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Please wait ..." } %>

<% end %>



<% content_for :title do %>
	Photo Albums: <%= @photo_album.title %>
<% end %>


<% content_for :breadcrumbs do %>
	<li><a href="#">Web Content</a></li>
	<li><%= link_to "Photo Albums", admin_cms_photo_albums_path %></li>
	<li class="active"><%= @photo_album.title %></li>
<% end %>
