<h2>FAQ</h2>
<hr/>	

<%= simple_form_for [:admin, :cms, @faq], html: { class: 'form-inline' } do |f| %>

  <%= f.association :category %>
	<%= f.input :sort %>
	<%= f.input :question, input_html: { style: 'width: 80%', rows: 2 }  %>
  <%= f.input :answer, input_html: { style: 'width: 80%', rows: 10 }  %>
	<%= f.button :submit %>

<% end %>


<% content_for :title do %>
	FAQ
<% end %>


<% content_for :breadcrumbs do %>
	<li><a href="#">Web Content</a></li>
	<li><%= link_to "FAQs", admin_cms_faqs_path %></li>
	<li class="active">edit</li>
<% end %>
