<style>
    .form-inline .control-label { width: 80px; }
</style>
<h2><i class="fa fa-edit"></i>&nbsp; <%= @article.title %></h2>

<% if @article.persisted? %>
<ul class="nav nav-tabs" style="margin-bottom: 20px;">
  <li class="active"><a href="#">Summary</a></li>
  <li><%= link_to "Pictures", pictures_admin_cms_article_path(@article) %></a></li>
  <li><%= link_to "Categories", categories_admin_cms_article_path(@article) %></li>
</ul>
<% end %>

<%= simple_form_for [:admin, :cms, @article] do |f| %>

	<%= render 'admin/shared/error_messages', object: f.object %>
	
  <div class="row">
    
    <div class="col-md-7">
      <%= f.input :slug %>
    	<%= f.input :author %>
    	<%= f.association :user %>
      <%= f.input :keywords %>
      <div class="form-group select optional article_tags">
        <label class="col-sm-3 control-label select optional" for="article_tags">Tags</label>
        <div class="col-sm-9">
          <input class="string optional form-control" type="text" value="<%= @article.tags.collect { |x| x.name }.join(", ") %>" name="tags" data-role="tagsinput">
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="panel panel-default options-panel">
        <div class="panel-heading">Options</div>
        <div class="panel-body">
          <b>Status: </b> &nbsp;
          <%= f.input_field :status, collection: ["draft", "pending", "published", "removed"] %><br><br>
      
          <b>Publish date:</b>
          <%= f.input_field :published_at, as: :string, class: "form-control date-field" %>
            <br><br>
        	<%= f.input_field :allow_comments %> Allow comments <br>
          <%= f.input_field :allow_pings %> Allow pings <br><br>
        </div>
      </div>
    </div>
  </div>
  
  <hr/>
  <b>Title:</b>
  <%= f.input_field :title, as: :text, rows: 1, class: "form-control" %>
  <br>
  
  <b>Excerpt:</b>
	<%= f.input_field :excerpt, as: :text, rows: 2, class: "form-control" %>
	<br>
  
  <b>Body:</b>
  <%= f.input_field :body, as: :text, class: "form-control" %>
  <script>
        ClassicEditor
            .create( document.querySelector( '#article_body' ) )
            .catch( error => {
                console.error( error );
            } );
  </script>
  <br>
	<%= button_tag "Save changes", :class => "btn btn-primary", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Please wait ..." } %>

<% end %>



<% content_for :title do %>
    Articles: <%= @article.title %>
<% end %>

<% content_for :head do %>
  <link rel="stylesheet" href="//cdn5.io/rhombus/bootstrap-tagsinput/bootstrap-tagsinput.css">
  <script src="//cdn5.io/rhombus/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
<% end %>



<% content_for :breadcrumbs do %>
	<li><a href="#">Web Content</a></li>
	<li><%= link_to "Articles", admin_cms_articles_path %></li>
  <% if @article.persisted? %>
	  <li><%= link_to @article.title, admin_cms_article_path(@article) %></li>
	  <li class="active">edit</li>
  <% else %>
    <li><%= @article.title %>
  <% end %>
<% end %>