<h2><i class="fa fa-map-marker"></i>&nbsp; <%= @article.title %></h2>


<ul class="nav nav-tabs">
  <li><%= link_to "Summary", edit_admin_cms_article_path(@article) %></li>
  <li class="active"><a href="#">Pictures</a></li>
  <li><%= link_to "Categories", categories_admin_cms_article_path(@article) %></a></li>
</ul>


<%= render partial: 'admin/shared/image_list', locals: {object: @article} %>


<% content_for :title do %>
  Articles: <%= @article.title %>
<% end %>


<% content_for :breadcrumbs do %>
  <li><a href="#">Web Content</a></li>
  <li><%= link_to "Articles", admin_cms_articles_path %></li>
  <li><%= link_to @article.title, admin_cms_article_path(@article) %> </li>
  <li class="active">edit</li>
<% end %>