<%= link_to "new photo", new_admin_cms_picture_path(imageable_id: params[:imageable_id], imageable_type: params[:imageable_type]), class: 'btn btn-sm btn-default pull-right' %>

<h2><i class="fa fa-picture-o"></i>&nbsp; <%= @parent || "All Pictures" %></h2>

<%= will_paginate @pictures %>
<div class="row">
  <% @pictures.each do |pic| %>
  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
		<a href="<%= edit_admin_cms_picture_path(pic) %>">
			<img class="img-thumbnail img-responsive" src="<%= cdn_image_url pic.file_path, 200, 200, 2 %>" style="width: 100%; margin-top: 8px;">
		</a>
  </div>
  <% end %>
</div>


<% content_for :title do %>
	Pictures
<% end %>


<% content_for :breadcrumbs do %>
	<li><a href="#">Web Content</a></li>
	<li class="active">Pictures</li>
<% end %>
