
<li class="<%= 'active' if request.original_url.include? 'admin/cms' %>">
  <a href="#"><i class="fa fa-files-o fa-fw"></i> CMS  <span class="fa arrow"></span></a>
  <ul class="nav nav-second-level">
    <li><%= link_to "Comments", admin_cms_comments_path %></li>
    <li><%= link_to "Content Blocks", admin_cms_content_blocks_path %></li>
	<li><%= link_to "File manager", admin_cms_filemanager_index_path %></li>
	<li><%= link_to "Locations", admin_cms_locations_path %></li>
    <li><%= link_to "Menus", admin_cms_menus_path %></li>
	<li><%= link_to "Pages", admin_cms_pages_path %></li>
    <li><%= link_to "Photo Albums", admin_cms_photo_albums_path %></li>
	<li><%= link_to "Pictures", admin_cms_pictures_path %></li>			
	<li><%= link_to "Regions", admin_cms_regions_path %></li>
    <li><%= link_to "Votes", admin_cms_votes_path %></li>  
  </ul>
</li>
